<nav class="navbar navbar-expand navbar-dark bg-dark p-2">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/public/images/imgshare-logo.png" alt="imgShare" />
    </a>
<button class="filter-button" data-filter="all">Mostrar todo</button>

  </div>
</nav>